<?xml version="1.0"?>
<config>
    <modules>
        <Marbius_Core>
            <version>0.1.0</version>
        </Marbius_Core>
    </modules>
    <global>
        <helpers>
            <mrscore>
                <class>Marbius_Core_Helper</class>
            </mrscore>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Marbius_SMSNotify>
                    <files>
                        <default>Marbius_Core.csv</default>
                    </files>
                </Marbius_SMSNotify>
            </modules>
        </translate>
    </adminhtml>
</config>